<div style="overflow-x:auto;">
    <table class="redTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Domain</th>
                <th *ngIf="flag">Actions</th>
            </tr>
        </thead>
        <tbody *ngIf="dataObject">
            <tr *ngFor="let data of dataObject | async" class="pure-table-odd">
                <td>{{data.name}}</td>
                <td>{{data.mobile}}</td>
                <td>{{data.email}}</td>
                <td>{{data.domain}}</td>
                <td *ngIf="flag">
                    <a (click)="edit(data.id)" style="cursor: pointer"><i class="fa fa-pencil"
                            style="font-size: 20px; color: green"></i></a>
                    &nbsp;
                    <a (click)="delete(data.id)" style="cursor: pointer"><i class="fa fa-trash"
                            style="font-size: 20px; color: red"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>