<div class='main'>
    <div class="form-style-5">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <fieldset>
                <legend>Change Password</legend>

                <div *ngIf="newpassword.invalid && (newpassword.dirty || newpassword.touched)" class="error">
                    <div *ngIf="newpassword.errors.required">
                        Password is required.
                    </div>
                    <div *ngIf="newpassword.errors.minlength">
                        Password must be at least 6 characters.
                    </div>
                </div>
                <input type="password" formControlName="newpassword" placeholder="New Password *">

                <div *ngIf="confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)" class="error">
                    <div *ngIf="confirmpassword.errors.required">
                        Confirm Password is required.
                    </div>
                    <div *ngIf="confirmpassword.errors.mustMatch">
                        Passwords must match.
                    </div>
                </div>
                <input type="password" formControlName="confirmpassword" placeholder="Confirm Password *">

            </fieldset>
            <input type="submit" [disabled]="!changePasswordForm.valid" value="Submit" />
        </form>
    </div>
</div>