<div style="text-align: center; margin-top:50px;">
    <marquee>Please Register To Continue...</marquee>
</div>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="main">
        <p class="sign" align="center">Register</p>

        
        <input class="un " type="text" align="center" formControlName='name' placeholder="Username" appAutofocus>        
        <input class="un " type="text" align="center" formControlName='mobile' placeholder="Mobile">        
        <input class="un " type="text" align="center" formControlName='email' placeholder="Email">       
        <input class="un " type="text" align="center" formControlName='domain' placeholder="Domain">        
        <input class="pass" type="password" align="center" formControlName='password' placeholder="Password">
        <input class="pass" type="password" align="center" formControlName='confirm' placeholder="Confirm Password">
        <button class="submit" type="submit" [disabled]="!registerForm.valid" align="center">Sign in</button>

        <p class="forgot" align="center"><a href="#">Forgot Password?</a></p>
        <p align="center">Already have account <b><a (click)='goToLogin()'>Login Here</a></b></p>
    </div>
</form>